body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.header-content nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.header-content nav a:hover {
    text-decoration: underline;
}

.hero {
    background: url('../../assets/img/JapanBG1.jpg') no-repeat center center/cover;
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.content {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

h1 {
    font-size: 4em;
    margin-bottom: 20px;
}

p {
    margin: 10px 0;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
